# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=voting

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# NATS Configuration
NATS_URL=nats://localhost:4222

# Service Ports
GATEWAY_PORT=8001
POLL_MANAGER_PORT=8002
ANTI_FRAUD_PORT=8003

# GeoIP API Configuration
GEOIP_API_URL=https://api.ipapi.is
GEOIP_API_KEY=d59a6d66c3673ba3b079

# Logging
LOG_LEVEL=info
